@import url("./photo-grid__gallery/photo-grid__gallery.css");
@import url("./photo-grid__image/photo-grid__image.css");

.photo-grid {
  padding-top: 92px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    padding-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    padding-top: 64px;
  }
}
