.intro__subtitle {
  color: white;
  max-width: 690px;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: 0 0 32px;
}


@media screen and (max-width: 767px) {
  .intro__subtitle {
    font-size: 24px;
    line-height: 30px;
  }
}
