.places__place {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  width: 100%;
  grid-gap: 40px 48px;
  grid-template-areas:
  "places__title places__link-container"
  "places__image places__description";
}

.places__place:last-child {
  margin: 0
}

@media screen and (max-width: 767px) {
  .places__place {
    display: block;
    grid-gap: 0;
    margin-bottom: 49px;
  }
}

/* @media screen and (max-width: 768px) {
  .places__place {
    grid-gap: 32px 48px;
  }
}

@media screen and (max-width: 1024px) {
  .places__place {
    grid-gap: 28px 48px;
    margin-bottom: 72px;
  }
} */
