.places__container {
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .places__container {
    max-width: calc(100% - 48px);
    margin: 0 24px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
  .places__container {
    max-width: calc(100% - 96px);
    margin: 0 48px;
  }
}

/* @media screen and (max-width: 767px) {
  .places__container {
    max-width: calc(100% - 24px);
    margin: 0 24px;
  }
} */

/* @media screen and (max-width: 1024px) {
  .places__container {
    max-width: 928px;
  }
} */
