.places__title {
  grid-area: places__title;
  margin: 0;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.75rem;
  color: white;
}

@media screen and (max-width: 768px) {
  .places__title {
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 32px;
    padding: 0 16px;
  }
}

@media screen and (max-width: 320px) {
  .places__title {
    font-size: 2rem;
    line-height: 35px;
    margin-bottom: 32px;
    padding: 0 16px;
  }
}
