.places__link {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

.places__link:hover {
  opacity: .8;
}

@media screen and (max-width: 320px) {
  .places__link {
    display: none;
  }
}
