.cover__container {
  /* max-width: 1184px; */
  width: 100%;
  height: 100%;
  background-image: url("../../../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
}

.cover__container:hover .cover__overlay {
  opacity: .8;
}

@media screen and (min-width: 1280px) {
  .cover__container {
    min-height: 740px;
  }
}

@media screen and (max-width: 1280px) {
  .cover__container {
    min-height: 740px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__container {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__container {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__container {
    min-height: 200px;
  }
}
