.footer__author {
  margin: 0;
  color: white;
  font-size: 1rem;
  line-height: 18px;
  font-weight: normal;
}

@media screen and (max-width: 320px) {
  .footer__author {
    font-size: 14px;
    line-height: 14px;
  }
}
