@import url("./intro__container/intro__container.css");
@import url("./intro__list/intro__list.css");
@import url("./intro__list-item/intro__list-item.css");
@import url("./intro__paragraph/intro__paragraph.css");
@import url("./intro__subtitle/intro__subtitle.css");
@import url("./intro__title/intro__title.css");

.intro {
  padding-top: 92px;
}

@media screen and (max-width: 767px) {
  .intro {
    padding-top: 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .intro {
    padding-top: 88px;
  }
}
