@import url("./intro__container/intro__container.css");
@import url("./intro__list/intro__list.css");
@import url("./intro__list-item/intro__list-item.css");
@import url("./intro__paragraph/intro__paragraph.css");
@import url("./intro__subtitle/intro__subtitle.css");
@import url("./intro__title/intro__title.css");

.intro {
  padding-top: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
