.intro__container {
  max-width: 984px;
}

@media screen and (max-width: 767px) {
  .intro__container {
    margin: 0 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .intro__container {
    margin: 0 24px;
  }
}

/* @media screen and (max-width: 320px) {
  .intro__container {
    max-width: 288px;
    margin: 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .intro__container {
    max-width: 720px;
    margin: 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__container {
    min-width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .intro__container {
    min-width: 984px;
  }
} */
