.intro__container {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .intro__container {
    max-width: 928px;
    width: 100%;
    margin: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro__container {
    max-width: 720px;
    width: 100%;
    margin: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .intro__container {
    max-width: 288px;
    width: 100%;
    margin: 0 16px;
  }
}
