.places__link-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: places__link-container;
}

@media screen and (max-width: 320px) {
  .places__link-container {
    display: none;
  }
}
