.header__container {
  max-width: 984px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 320px) {
  .header__container {
    max-width: 320px;
    height: 200px;
    margin: 0 16px;
  }
}
