.header__image {
  max-width: 984px;
  width: 100%;
  height: 615px;
  background-image: url("../../../images/kalegin-michail-179870-unsplash.jpg");
  background-size: cover;
  
}

@media screen and (max-width: 320px) {
  .header__image {
    max-width: 320px;
    height: 200px;
  }
}
