.cover__title {
  max-width: 656px;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.75rem;
  color: white;

  margin: 0 0 32px;
  position: relative;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 2rem;
    line-height: 35px;
    margin: 0 0 16px;
  }
}
