.places__image {
  grid-area: places__image;
}

@media screen and (max-width: 767px) {
  .places__image {
    width: 100%;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .places__image {
    max-width: 440px;
    max-height: 440px;
  }
}

@media screen and (min-width: 1280px){
  .places__image {
    min-width: 460px;
    width: 100%;
    min-height: 460px;
  }
}
