@import url("./footer__author/footer__author.css");
@import url("./footer__container/footer__container.css");
@import url("./footer__link/footer__link.css");
@import url("./footer__links/footer__links.css");
@import url("./footer__menu/footer__menu.css");

.footer {
  display: flex;
  justify-content: center;
  padding: 92px 0 24px;
}
